#box1 {
  width: 400px;
  height: 400px;
  background-color: aqua;
}

#box2 {
  width: 300px;
  height: 300px;
  background-color: wheat;
}

#box3 {
  width: 200px;
  height: 200px;
  background-color: hotpink;
}
